<footer>
  <hr class="horz_line" />
  <!-- https://www.w3schools.com/charsets/ref_utf_symbols.asp -->
  &#9925; 2020
    <table>
      <thead align="left"><tr><th><code>Links</code></th></tr></thead>
      <tr><td><code><a href="https://git-scm.com/book/en/v2" target="_blank">Git ebook</a></code></td></tr>
      <tr><td><code><a href="https://docs.docker.com/" target="_blank">Docker Docs</a></code></td></tr>
      <tr><td><code><a href="https://jenkins.io/doc/book/pipeline/" target="_blank">Jenkins Pipeline</a></code></td></tr>
      <tr><td><code><a href="https://learn.hashicorp.com/" target="_blank">HashiCorp - Tools - Terraform</a></code></td></tr>
    </table>
</footer>